
body { margin:0;
	   padding:0;
 }
/*---------------------CONTAINER DOS ITEMS---------------------*/
 .flex-container {
 	display: flex;
 	background-color: white;
 	flex-flow: row wrap;
 	align-content: center;
 	margin:auto;
 	width:85%;
 	justify-content:center;

 	
 }

 .flex-container > div {
 	width: 300px;
 	background-color: white;
 	margin:0px;
 	color:#4d4d4d;

}

.imagespanela {
	width:200px;
	height: 200px;
}
	
.flex-container h2{
	font-size: 18px;
	font-weight: 100;
	font-family: Arial, helvetica, sans-serif;
	margin: 0;

}

.flex-container p {
	margin:0px;
	padding:0px;
}
      
.bold {
    font-weight: bold;
    font-size: 23px;
 }
 .strike {
      	text-decoration: line-through;
 }

/*----------------------------------CONTAINER DO MENU----------------*/

 .menu-container {
 	display:flex;
 	flex-flow: row nowrap;
 	background-color: dodgerblue;
 	justify-content: center;

 }

 .menu-container > div {
 	
 	margin:10px 20px;
 	color:white;
 	font-family: Arial, helvetica, sans-serif;
 	font-size: 14px; 

 }

  .dec {
 	text-decoration: none;
 	color:white;
 }

/*----------------------------CONTATOS---------------------*/

ul li {
	list-style-type: none;
	display: inline-block;
	margin:0px 20px 0 0;

}

 li img {
 	width:40px;

 }

 .center {
 	text-align: center;
 	background-color: dodgerblue;
 	color: white;
 	padding: 2px;
 }

 /*------------------------BANNER--------------------------*/

 .banner {
 	position: fixed;
 	bottom: 0;
 	right: 0;
 	width: 20%;
 	height:90px;
 }